
*{margin: 0; padding: 0;}

body {background-color: rgb(227, 138, 13);}
header {padding-bottom: 3%;}
img {width: 100%; height: 30vh;}


/* Ändrar allt i "containern" aka text-klasserna i bannern + bilden */
.container {          
    position: relative;
    text-align: center;
    color: white;
    font-size: 4vh;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.lila-bakgrund {background-color: rgb(170, 20, 190); width: 100%;}

#formöppetider {border: solid black;
    width: 380px;
    padding: 10px;
    border-width: 2px;
}
/* form {margin: 0 auto;}  För att centrerar rutan */
