
*{margin: 0; padding: 0;}

body {
  background-image: linear-gradient(rgb(250, 172, 3), rgb(183, 112, 241), #FFFB73);
  background-repeat: no-repeat;
  height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}
#header-bild {width: 100%; height: 13vh;
  border-bottom: solid black;}

main{
  margin: 0 3%;
}
#doge{
  width: 100%;
}

.col1:hover {
  background-color:black;
}
.content img{
  width: 100%;
  height: 13vh;
}


.container {          
    position: relative;
    text-align: center;
    color: white;
    font-size: 4vh;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



.oppettider{
  border: solid black;
  width: 100%;
  text-align: center;
  border-width: 3px;
  background-color: #F9B572;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 3%;
}
#section1{
  display: flex;
  flex-direction: column;
  
}
.section-container{
  width: 80%;
  padding-left: 10%;
}


h2{
  margin-bottom:5px;
}
.h2col{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: black;
}
.h1main{
  font-size: 2rem;
  text-decoration: underline;
}

#section-bilder{
  width: 20%;
  height: auto;
}

.collapsible {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 218, 180, 0.76);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 3%;
  margin-bottom: 10px;
  border: solid black;
  border-radius: 20px;
}

.collapsible p{
  padding: 5px;
}
#h3col{
  text-align: center;
}
.toggle-label {
  background-color: #F9B572;
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
  width: 100%;
}

.toggle-label:hover {
  background-color: #fef0e2;
  transition: background-color 0s;
}
.toggle-label h3, .toggle-label p{
  width: 97%;
}


/* Dölj inmatningsrutan */
input[type="checkbox"] {
  display: none;
}

/* Visa innehållet när inmatningsrutan är icheckad */
input[type="checkbox"]:checked + label + .content {
  display: block;
  padding-bottom: 10px;

}
.content {
  display: none;
  padding: 0 10px;
  box-sizing: border-box; }
  
#content0{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content1{
  display: flex;
  flex-direction: column;
  width: 45%;
}
footer{
  text-align: center;
  border-top: solid black;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-bottom: 5px;
}
.pfooter{
  margin-bottom: 3px;
}
footer a{
  text-decoration: none;
  color: #F9B572;
}
.gif{
  text-align: center;
}
.gif img{
  width: 100%;
  max-width: 400px;
}

@media screen and (min-width: 1000px){

main{
margin: 0 15%;
height: 180vh;
}
#section1{
  width: 100%;
  flex-direction: row;
  gap: 20px;
}
.collapsible{
  width: 100%;
}
#contenthund{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#col1{
  width: 45%;
}
#sectiondoge{
  width: 55%;
  justify-content: center;
}
.content {
  display: block;
  padding: 0 10px;
  box-sizing: border-box; }

  .toggle-label:hover{
  background-color: #F9B572;
  cursor: default;
}
}




