@import url('/css-kommunsida/sitewide.css');


main {
    font-family: var(--siteFontPrimary)
}
main h1, main h2, main h3, main h4, main h5, main h6 
{
    font-family: var(--siteFontSecondary)
}

.topButton {
    display: inline-block;
    outline: none;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s,
     box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    background: var(--siteColourPrimary);
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    vertical-align: middle;
    width: auto;
    font-size: 14px;
    color: #000;
}
.topButton:hover {
    background: var(--siteColourSecondary);
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: #000;
}

#mainContainer {
    max-width: 70%;
    margin: auto auto;
    display: flex;    
    flex-flow: row nowrap;
    place-items: start end;
    margin-top: 2%;

}

#mainContainer h2 {
    background-color: var(--siteColourAccent);
    padding-left: 7px;
    border-top-left-radius: 10px;
}

#mainContainer #topItem {
    margin-top: 1%;
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-left: medium solid var(--siteColourAccent);
}

#mainContainer #topItem h2 {
    background-color: #fff;
    padding:0

}

#mainContainer:first-of-type {
    gap: 10%;
    place-items: center center;
    margin: auto auto;
}


#mainContainer article {
    width: 100%;
}

#mainContainer:nth-of-type(2) h2 {
    margin-top: 0;
}
#mainContainer:nth-of-type(2) p,
#mainContainer:nth-of-type(3) p {
    margin-left: 7px;
}

#mainContainer:nth-of-type(2) article,
#mainContainer:nth-of-type(3) article {
    border: none;
    border-radius: 5px;
}
#mainContainer:nth-of-type(2) section article {
    border-left: medium solid var(--siteColourAccent);
    border-top-left-radius: 10px;
}

#mainContainer:nth-of-type(3) {
    flex-flow: row-reverse nowrap;
    place-items: center end;
}

#mainContainer:nth-of-type(3) article {
    border-left: medium solid var(--siteColourAccent);
    border-top-left-radius: 10px;
}

.km-imgContainer {
    min-width: 192px;
    max-width: 540px;
    overflow: hidden;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 3px;

}

.km-imgContainer img {
    margin: auto;
    height: 100%;
    object-fit: contain;
}

#mainContainer:last-of-type article.km-imgContainer {
    border-left: none;
}

@media only screen and (max-width: 1000px) {
    #mainContainer {
        max-width: 95%;
    }
    #mainContainer:first-of-type {
        margin-bottom: 10%;
    }

}

h2#modalHeading {
    background-color: #fff;
}

#infoKultur {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    width: 60%;
    row-gap: 5em;
}

#infoKultur h2 {
    margin-top: 0;
}

#infoVerksamheter {
    display: flex;
    flex-flow: column wrap;
    margin-right: auto;
    width: 60%;
    row-gap: 5em;
}

#infoVerksamheter h2 {
    margin-top: 0;
}


@media only screen and (max-width: 500px) {
    .km-imgContainer {
        display: none;
    }
    #mainContainer {
        max-width: 100%;
        place-items: start center;
    }

    #mainContainer:first-of-type {
        gap: 2%;
    }
    #mainContainer #topItem {
        width: 50%;
        height: 195px;
        align-self: start;
    }

    #mainContainer .small {
        width: 100%;
        margin: auto auto;
    }
    #mainContainer h2,
    #mainContainer p {
        width: 95%;
    }
}