@import url('/css-kommunsida/sitewide.css');

#main-container {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    margin: 1em auto;
}

#top-container {
    display: flex;
    flex-flow: row nowrap;
    place-items: start center;
    gap: 10%;
}

#top-container section {
    max-width: 45%;
}

.content-container {
    margin: 0.5em;
}

.content-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 2%;
}

.content-container:last-of-type {
    flex-flow: row-reverse nowrap;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
}

.image-container {
    object-fit: cover;
    overflow: hidden;
    width: auto;
    max-width: 50%;
    border-radius: 7px;
}

.image-container#heightTarget1 {
    border-left: thick solid var(--borderColor);
}
.image-container#heightTarget2 {
    border-right: thick solid var(--borderColor);
}

#heightTarget1 {
    height: auto;
}

#heightTarget2 {
    height: auto;
}


.text-container p {
    margin: 0 auto;
}
.text-container h2 {
    background-color: var(--siteColourPrimary, #FFD700);
    padding-bottom: 0.25em;
    padding-left: 0.15em;
    border-radius: 5px 5px 0px 0px;
}

.top-container section h2 {
    background-color: var(--siteColourPrimary, #FFD700);
    padding: 0 0.25em 0.25em 0.15em;
    border-radius: 5px 5px 0px 0px;
}



.anchorButton {
    display: block;
    padding: 0.2em;
    margin: 0.5em;

    width: 160px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    color: #000;
    background-color: var(--siteColourPrimary);
    border-radius: 7px;
    border: medium solid var(--siteColourSecondary);
    box-shadow: 3px 3px 5px #0000006c;
}

.anchorButton:visited {
    color: #000;
}

.anchorButton:hover,
.anchorButton:focus {
    background-color: var(--siteColourSecondary);
    border-color: var(--siteColourPrimary);
    box-shadow: 2px 2px 4px #000;
    transition: all 0.15s ease-in;
}

@media only screen and (max-width: 1000px) {
    #mainContainer {
        max-width: 95%;
        width: 95%;
    }
}

@media only screen and (max-width: 700px){
    #mainContainer {
        width: 100%;
    }
    
    .image-container {
        display: none;
    }
}mainContainer:last-of-type article.km-imgContainer {
    border-left: none;
}

@media only screen and (max-width: 1000px) {
    #mainContainer {
        max-width: 95%;
    }
    #mainContainer:first-of-type {
        margin-bottom: 10%;
    }

}

h2#modalHeading {
    background-color: #fff;
}

#infoKultur {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    width: 60%;
    row-gap: 5em;
}

#infoKultur h2 {
    margin-top: 0;
}

#infoVerksamheter {
    display: flex;
    flex-flow: column wrap;
    margin-right: auto;
    width: 60%;
    row-gap: 5em;
}

#infoVerksamheter h2 {
    margin-top: 0;
}


@media only screen and (max-width: 500px) {
    .km-imgContainer {
        display: none;
    }
    #mainContainer {
        max-width: 100%;
        place-items: start center;
    }

    #mainContainer:first-of-type {
        gap: 2%;
    }
    #mainContainer #topItem {
        width: 50%;
        height: 195px;
        align-self: start;
        margin-bottom: 50px;
    }

    #mainContainer .small {
        width: 100%;
        margin: auto auto;
    }
    #mainContainer h2,
    #mainContainer p {
        width: 95%;
    }
}