
@import url(/css-kommunsida/sitewide.css);
@import url(/css-kommunsida/footer.css);
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;

    box-sizing: border-box;
}
.header-background{
    max-height: 10vh;
    /* display: none; */
    border-bottom: solid var(--siteColourPrimary);
    border-top: solid var(--siteColourPrimary);

}
main{
    margin:0 2%
}
#huvudrubrik{
    border-width: 2px;
    color: var(--text);
    font-size: var(--font-size);
    text-align: center;
    font-size: 1.8rem;
    padding: 4% 2%;
    margin: 0px;
    text-decoration: underline;
    text-decoration-color: var(--siteColourPrimary);
}
#beskrivning{
    margin: 0 2%;
    padding:20px 0;

}

.collapsible {
    width: 100%;
    border: solid var(--siteColourSecondary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.collapsible p, h3{
    padding: 5px;

}
.toggle-label {
    background-color: var(--siteColourPrimary);
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.toggle-label:hover {
    background-color: var(--siteColourPrimary);
}
.infoJobb, .infoJobb p{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}
.jobbRubrik{
    font-size: 1.2rem;
    margin: 0;
    padding: 10px 0;
}

/* Dölj inmatningsrutan */
input[type="checkbox"] {
    display: none;
}

/* Visa innehållet när inmatningsrutan är icheckad */
input[type="checkbox"]:checked + label + .content {
    display: block;
    padding-bottom: 10px;

}

.content {
    display: none;
    padding: 0 10px;
    box-sizing: border-box;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--siteColourAccent);
    color: var(--text);
    padding: 12px 20px;
    margin-top: 10px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: var(--siteColourPrimary);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.fileuppload{
    display: block;
}



@media screen and (min-width: 500px){

}

@media screen and (min-width: 1000px){
    
    main{
        margin: 0 15%;
        /* display: flex; */
    }
    #huvudrubrik{
        padding:  2% 0;          
    }
    #beskrivning{
        margin: 0 15%;
    }
    section{
        padding-left: 0px;
    }
}
