@import url(/assets/css/sitewide.css);
@import url("footer.css");
*{
    box-sizing: border-box;
}
h1, h2, h3, h4{
    font-family:var(--fontSecondary) ;
}
p, table, .sec-1{
    font-family: var(--fontPrimary);
}
h2, h3, h4{
    color: var(--primary);
}
main{
    margin: 2%;
}
table {
    border-collapse: collapse;
    width: 100%;
} 
td, th {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}
tr{
    text-align: center;
}
tr:nth-child(even) {
    background-color: var(--background);
}
#openinghours{
    margin-top: 50px;
}
#table-pris-motionssim{
    overflow-x:auto;
}
#side-menu {
    /* Göm sidonavigationsmenyn på skärmar smalare än 1000px */
    display: none;
}
body{
    margin: 0;
}
#huvudrubrik{
    background-color: var(--primary);
    color: white;
    font-size: var(--font-size);
    text-align: center;
    font-size: 2rem;
    padding: 4% 2%;
    margin: 0;
}

#rubrikBild{
    width: 100%;
    background-repeat: no-repeat;
    height: 15vw; /* height of container */
    overflow: hidden;
}
#rubrikBild img{
    width: 100%;
    margin-top: -10%;
}


@media screen and (min-width: 500px){
    main{
        margin: 0 15%;
    }
    table{
        min-width: 400px;
        width: auto;
    }
    #table-pris-motionssim{
        overflow-x:unset;
    }
}

@media screen and (min-width: 1000px){

    main{
        margin: 0 15%;
    }
    section{
        padding-left: 0;
    }
    #openinghours{
        margin-top: 0;
    }
    main{
        display: flex;
    }
    #huvudrubrik{
        padding:  2% 0;          
    }
    #rubrikBild img{
        width: 100%;
        margin-top: -180px;
    }

}