@import url("sitewide.css");

* {
    animation-name: siteLoadTransition;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    transition: var(--siteTransitionDefault);
}


