@import url("/assets/css/sitewide.css");
@import url("/assets/css/footer.css");

main {
    margin: 2%;
}
img {
    width: 100%;
}
#h1simskola {
    text-align: center;
    font-size: 2.5rem;
}
body{
    margin: 0;
}
.psimskola{
    font-size: 0.8rem;
}
#h2simskola {
    margin-left: 3%;
}
.h3simskola {
    margin-left: 3%;
}
.psimskola {
    margin-left: 3%;
    margin-right: 10%;
}
#formsimskola {
    max-width: 100%;
    margin: 3%;
    border: solid black;
    width: 380px;
    padding: 10px;
    border-radius: 5%;
}
@media screen and (min-width: 1000px){
   main {
    margin-left: 15%;
    margin-right: 15%;
   }
    li {
        
        margin-left: 1%;
    }
    #formsimskola {
        margin-left: 3%;
    }
    .psimskola{
        
        font-size: 1rem;
    }
    body {
        margin: 0;
    }
    #formsimskola {
        border: solid black;
        width: 380px;
        padding: 10px;
        border-radius: 5%;
}
    
}
