@import url("/assets/css/sitewide.css");
@import url("/assets/css/footer.css");

main {
    margin: 2%;
}
#imgbody {
    width: 100%;
}
#h1simskola {
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
    font-family: var(--siteFontPrimary);
}
body{
    margin: 0;
}

#h2simskola {
    margin-left: 3%;
    color: var(--primary);
    font-family: var(--siteFontPrimary);
}
.h3simskola {
    margin-left: 3%;
    color: var(--primary);
    font-family: var(--siteFontPrimary);
}
.psimskola {
    margin-left: 3%;
    margin-right: 10%;
    font-family: var(--siteFontSecondary);
}
#formsimskola {
    max-width: 100%;
    margin: 3%;
    border: solid black;
    width: 350px;
    padding: 10px;
    border-radius: 5%;
}
#inputbutton{
    background-color: #0d369b;
    color: white;
    border: solid #0d369b;
}
#ulsimskola li{
    font-size: 1.1rem;
}

@media screen and (min-width: 1000px){
   main {
    margin-left: 15%;
    margin-right: 15%;
   }
    li {
        margin-left: 1%;
        font-family: var(--siteFontSecondary);
    }
    #formsimskola {
        margin-left: 3%;
        font-family: var(--siteFontSecondary);
    }
    .psimskola{
        font-family: var(--siteFontSecondary);
    }
    body {
        margin: 0;
    }
    #ulsimskola li{
        font-size: 1rem;
    }
    #formsimskola {
        border: solid black;
        width: 380px;
        padding: 10px;
        border-radius: 5%;
        border-width: 2px;
    }
    #inputbutton{
        background-color: #0d369b;
        color: white;
        border: solid #0d369b;
        border-radius: 5%;
    }
    #h1simskola{
        font-family: var(--siteFontPrimary);
    }
    #h2simskola{
        font-family: var(--siteFontPrimary);
    }
    .h3simskola{
        font-family: var(--siteFontPrimary);
    }
}
    

