:root {
    --siteColourPrimary: ;
    --siteColourSecondary: ;
    --siteColourAccent: ;
    --siteFontPrimary: Arial, Helvetica, sans-serif;
    --siteFontSecondary: Arial, Helvetica, sans-serif;
    --siteTransitionDefault: all 0.4s ease-in;

}


@keyframes siteLoadTransition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}