body {margin: 0;}

#section1{text-align: center;  padding-bottom: 2%;}

#bu-rubrik {
  text-align: center;
   background-color: #FFD700; 
   padding: 3%;}

#skol-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* width: 75%; */
}


#articlecontainer{
    place-content: center center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

form {border: solid #FFD700; /* Border runt text */
    width: 75%;
    padding: 10px;
    border-width: 4px;
    text-align: center;
    margin: auto;
    margin-bottom: 1%;
}

img{width: 40%; height: auto;}
